@font-face {
  font-family: Gilroy;
  src: url('/static/fonts/gilroy.woff2') format('woff2')       
}

body {  
  background-color: #111724;  
  color: #e1f0f0;
  font-family: Gilroy, Montserrat, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: Gilroy, Montserrat, sans-serif;
}
a {
  color:#0fcb97;
}
a:hover {
  color: #0fcb97;
  text-decoration: underline;
}
.ui.header {
  font-family: Gilroy, Montserrat, sans-serif;
  color: #fff;
}
.ui.header .sub.header {
  font-family: Gilroy, Montserrat, sans-serif;
  color: #fff;
}

.ui.bch-gold.button {
  color:#000;
  background-color: #0fcb97;  
  font-family: Gilroy, Montserrat,sans-serif;
}
.ui.submit.bch-gold.button.printbtn {
  margin-left: 1rem;
  font-size: 2rem;    
}
.header-left {
  float:left;
}
.header-right {
  float:right;
  text-align: right;
}
.header-wrapper {
  overflow:auto;
}


.ui.bch-gold.button:hover {
  color:#fff;
  background-color: #17e9af!important;
  transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.ui.segment.mains {
    /*background-color: #f8f8ec;*/
    color: #fff;
    background-color:#454a4c;
}
.ui.segment{
  color: #fff;  
}

.footer {
 margin-bottom:40px;
}

.footer a{
 color:#e8d069; 
}

.footer a:hover {
 color:#e8d069; 
 text-decoration: underline;
}

#home-banner img {
  width:100%;
  margin-bottom:12px;
}

.ui.three.column.grid > .column > p {
  font-size:18px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #353839;
  border: 1px solid #525759;
  border-radius: 3px;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #464a4c;
  border-bottom: 1px solid #525759;
}
.card-header:first-child {
  border-radius: calc(3px - 1px) calc(3px - 1px) 0 0;
}
.faq-header {
  color: #0fcb97;
}
.card-block {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-block p {
  font-size:16.5px;
  margin: 0;
}

#intro-info {
  font-size:1.4rem;
}

/* Deprecating semantic-full */
body {
  margin:0;
}
.card-header h3 {
  margin:0;
}

a {
  text-decoration: none;
}

.table-striped {
  color:#000000;  
  width:100%;
}

.table-striped tr {
  border-collapse: separate;
}

.table-striped td {
  padding:12px;
}

.table-striped tr:nth-child(even) {
  background-color: #f2f2f2
}
.table-striped tr:nth-child(odd) {
  background-color: #fff
}

.statschart {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  margin: 1rem 0;
  padding: 1em 1em;
  border-radius: 3px;
  border: 1px solid rgba(34,36,38,.15);
}

.balancewarning {
  color: #fff;
}

.ui .label > a {
  color: #000 !important;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  color: #0fcb97;
  font-weight: bold;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: black;
  color: #0fcb97;  
  padding: 12px;
  border-radius: 3px;
  font-weight: normal;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext li {
  margin: 12px 0;
}

@media screen and (max-width:767px) {
  .tooltip {
    display: none;
  }
}

.header.gold.claim-steps {
  padding-top:12px;
  color: #0fcb97;
  font-size: 22px !important;
  margin-bottom: 16px !important;
}

.claim-steps-hr {
  border: 1px solid #0fcb97;
}

.claim-steps-img {
  width: 250px;
  padding: 12px;
  display: block;
  margin:auto;
}